*{

margin:0;
padding:0;
box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

html,body{

height:100%;

}

body{

font-family:var(--font);

background:var(--bg);

color:var(--text);

overflow:hidden;

-webkit-font-smoothing:antialiased;

}

a{

text-decoration:none;

color:inherit;

}

button{

font-family:inherit;

cursor:pointer;

border:none;

}

input{

font-family:inherit;

outline:none;

}